<app-navbar1></app-navbar1>
<div class="row" >
  <div class="col-xl-6 col-lg-6 col-md-6" style="    width: 288px;height: 346px;" *ngFor="let v of this.listVoyage2 ; let i=index;"  >
    <div class="home-blog-single mb-30">
      <div class="blog-img-cap">
        <div class="blog-img">
          <img src="assets/img/blog/home-blog2.jpg" style="width: 213px;margin-left: 26px;" alt="">
          <!-- Blog date -->
          <div _ngcontent-gug-c111="" class="blog-date text-center" style="  height: 34px;  margin-left: 37px;margin-right: 193px;background-color: red;">
            <span _ngcontent-gug-c111="" style="font-size: 14px;">{{v.duree}}</span>
            <p _ngcontent-gug-c111="" style=" margin-top: -14px;   font-size: 12px;"> Days</p>
          </div>
        </div>
        <div class="blog-cap">
          <p style="margin-left: 102px;margin-top: -33px;">{{v.date.substring(0,10)}}</p>
          <p style="    margin-left: 37px;margin-top: -18px;font-size: 13px;">{{this.namesss[i][1]}}</p>
          <p style="    margin-left: 37px;margin-top: -27px;font-size: 13px;">{{this.namesss[i][0]}}</p>
          <h3><p style="  margin-right: 27px;  margin-left: 37px;margin-top: -18px;font-size: 13px; overflow-wrap: anywhere;overflow-y: scroll; height: 94px;"> {{v.discription}}</p></h3>
          <button id="bbbb"  style="  color:#00e228;margin: 2px 12px 9px 44px;width: 69px;font-size: 24px;" (click)="this.invitationaccepter(this.listVm[i].idVm)">	&#10003;</button>
          <button id="cccc"  style="  color:#00e228;margin: 2px 12px 9px 44px;width: 69px;font-size: 24px;" (click)="this.deleteInvitationi(this.listVm[i].idVm)"   >	&#x274C; </button>
        </div>
      </div>
    </div>
  </div>
</div>
